.btnwrapper{
	width: 100%;
	text-align: center;
}

.btnwrapper-1{ margin-top: 50px; }
.btnwrapper-2{ margin-top: 35px; }
.btnwrapper-3{ 
	margin-top: 50px; 
	opacity: 0; 
	-webkit-animation-name: leftFaded;
	-webkit-animation-duration: 1s;
 	-webkit-animation-iteration-count: 1;
 	-webkit-animation-fill-mode: forwards; 
 	-webkit-animation-delay: 6.5s;

 	-moz-animation-name: leftFaded;
	-moz-animation-duration: 1s;
 	-moz-animation-iteration-count: 1;
 	-moz-animation-fill-mode: forwards; 
 	-moz-animation-delay: 6.5s;

 	-o-animation-name: leftFaded;
	-o-animation-duration: 1s;
 	-o-animation-iteration-count: 1;
 	-o-animation-fill-mode: forwards; 
 	-o-animation-delay: 6.5s;

 	animation-name: leftFaded;
	animation-duration: 1s;
 	animation-iteration-count: 1;
 	animation-fill-mode: forwards; 
 	animation-delay: 6.5s;
 }


.btn1 { padding: 25px 80px; margin: 15px 30px; display: inline-block; }
.btn2 { padding: 14px 15px; margin: -40px 30px; display: inline-block; }
.btn3 { padding: 25px 80px; margin: 15px 30px; }
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1 {
	background: #2980b9;
	color: #fff;
	box-shadow: 0 6px #0F517D;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.btn-1a { border-radius: 0 0 5px 5px; }
.btn-1a:hover { box-shadow: 0 4px #0F517D; top: 2px; }
.btn-1a:active { box-shadow: 0 0 #0F517D; top: 6px; }

.btn-2 {
	background: #2ecc71;
	color: #fff;
	box-shadow: 0 6px #138644;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.btn-2a { border-radius: 0 0 5px 5px; }
.btn-2a:hover { box-shadow: 0 4px #138644; top: 2px; }
.btn-2a:active { box-shadow: 0 0 #138644; top: 6px; }

.btn-3 {
	background: #c0392b;
	color: #fff;
	box-shadow: 0 6px #8B2A1F;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.btn-3a { border-radius: 0 0 5px 5px; }
.btn-3a:hover { box-shadow: 0 4px #8B2A1F; top: 2px; }
.btn-3a:active { box-shadow: 0 0 #8B2A1F; top: 6px; }