<div class="wrapper">
	<div class="container">
		<div class="content">
			<div ng-controller="AngularCtrl">
				<div class="ng-top">
					<h2 class="h2-red">~ ANGULAR</h2>
					<div class="ng-tooltip">
						<p class="resize-tip">Maximize your browser window. No more visual magic for you!</p>
					</div>
				</div>

				<div class="angular-features">
					<p>Angular is a MVC client-side framework for web developers.
					It's what HTML would have been, had it been built for dynamic content.</p>
					<h1>NG-FEATURES</h1>

					<ul class="ng-mvc"><span class="black">MVC</span>
						<li>
							Unlike the famous jQuery, Angular gives us structure. It's almost impossible to deliver structured apps solely in jQuery. So separating code in modules becomes a necessity. Angular gives us MVC principles that we need for big projects.
						</li>
					</ul>

					<ul class="ng-ditesting"><span class="black">Dependency injection &amp; Testing</span>
						<li>
							These are great features. Rather than having to look for our dependencies, Angular does that work for you. Simply inject, for example a service into a controller, and Angular knows exactly what it is and what can be done with it. Dependency injection facilitates testing, which comes natively with Angular within a tool called Karma. TDD development becomes real.
						</li>
					</ul>

					<ul class="ng-directives"><span class="black">Directives</span>
						<li>
							As I said before, Angular extends HTML. You can create new elements, new attributes, new components, taking advantage of directives. Create as many directives as you want. Turn your HTML upside down. Re-invent semantics.
						</li>
					</ul>
				</div>

				<div class="btnwrapper btnwrapper-3">
					<a href="#!/angular/examples/1" class="btn btn3 btn-3 btn-3a">ENOUGH THEORY! I DEMAND EXAMPLES!</a>
				</div>
<!--
				<input type="text" ng-model="testDataBinding">
				<h1 rel="{{ testDataBinding }}">{{ testDataBinding }}</h1>
-->

			</div>
		</div>
	</div>
</div>