<div class="wrapper">
	<div class="container">
		<div class="content">
			<div ng-controller="CSSCtrl">
				<h2 class="h2-green">~ CSS</h2>

				<h3>CSS lets us do now, more than ever. It's almost a programming language thanks to these wonderful new frameworks.</h3>

				<div class="tooltip tooltip-green">
					<div class="triangle-tooltip green-triangle"></div>
					<p class="resize-tip">Resize your browser window until you see something magical happen!</p>
				</div>
<!--
				<input type="text" ng-model="testDataBinding">
				<h1 rel="{{ testDataBinding }}">{{ testDataBinding }}</h1>
-->
				<div class="why-css-wrapper">
					<div class="why-css-container">
						<div class="why-css-flipper">
							<div class="why-css-front">
								<img class="img-hoverdiv" src="imgs/hoverdiv.png">
								<p>With CSS you can accomplish pretty much everything you can using Photoshop:</p>
								<ul class="css-list">
									<li>Drop shadows</li>
									<li>Gradients</li>
									<li>Strokes</li>
									<li>Rounded corners</li>
									<li>Shapes</li>
								</ul>
								<p>But it has a lot more features that I love, as you can see by the animations so far. </p><p class="overweight">All done with CSS.</p>
							</div>
							<div class="why-css-back">
								<p>It's not always rainbows and butterflies. It all comes with an expense. Browser support for recent features.</p>
								<h4>Frameworks to the rescue!</h4>
								<p>SASS/LESS give you the oportunity not to worry about prefixes. It also allows you to make sprites in a second and minify your CSS automatically.</p>

								<div class="btnwrapper btnwrapper-2">
									<a href="#!/angular" class="btn btn2 btn-2 btn-2a">What about code?</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>