<div class="wrapper">
	<div class="container">
		<div class="content">
			<div class="initial" ng-controller="InitCtrl">
				<p class="initial-tease slideDown">Hi, my name is Bruno and I</p>
				<h1><span class="slideLeft">create</span><span class="faded"> &amp;</span> <span class="slideRight">build</span></h1>
				<p class="initial-tease slideUp">awesome tools for the web</p>

				<div class="btnwrapper btnwrapper-1 faded">
					<a href="#!/css" class="btn btn1 btn-1 btn-1a">WHY I &hearts; IT?</a>
				</div>
			</div>
		</div>
	</div>
</div>